body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(7, 7, 7, 0.5) ,rgba(5, 9, 71, 0.7)), url('../src/images/image1.jpg');
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
